<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SetakDao">

<!-- 상품조회 -->
<select id="selectAllItems" resultType="kr.setak.www.domain.OrderItem">
	SELECT *
	FROM orderitem
</select>

<!-- 유저정보조회 -->
<select id="selectUserInfo" parameterType="String" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
	WHERE userId = #{userID}	
</select>

<!-- 로그인 -->
<select id="selectLogin" parameterType="kr.setak.www.domain.User" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
	WHERE userId = #{userId}
	<if test="userHp != null and userHp != ''">AND userHp = #{userHp}</if>
</select>

<!-- 수거신청등록 -->
<insert id="insertApplyOrder" parameterType="kr.setak.www.domain.Order" useGeneratedKeys="true" keyProperty="orderNo">
	INSERT INTO applyorder(inDate, state, totalPrice, userNo, orderAdd, deliveryAdd, sameAddCheck, sangseAdd
		<if test="hopeCollectionDate != null and hopeCollectionDate != ''">,hopeCollectionDate</if>
		<if test="hopeDeliveryDate != null and hopeDeliveryDate != ''">,hopeDeliveryDate</if>
		<if test="comment != null and comment != ''">,comment</if>)
	VALUES(
		now(), '1', #{totalPrice}, #{userNo}, #{orderAdd}, #{deliveryAdd} , #{sameAddCheck}, #{sangseAdd}
		<if test="hopeCollectionDate != null and hopeCollectionDate != ''">,#{hopeCollectionDate}</if>
		<if test="hopeDeliveryDate != null and hopeDeliveryDate != ''">,#{hopeDeliveryDate}</if>
		<if test="comment != null and comment != ''">,#{comment}</if>)
</insert>

<!-- 수거신청된 물품등록 -->
<insert id="insertOrderedItem" parameterType="kr.setak.www.domain.OrderedItem">
	INSERT INTO ordereditem(no,orderCount,orderNo)
	VALUES(#{no}, #{orderCount}, #{orderNo})
</insert>

<!-- 웹, 물품등록 -->
<insert id="insertSetakItem" parameterType="kr.setak.www.domain.OrderItem">
	INSERT INTO orderitem(name, price)
	VALUES(#{name}, #{price})
</insert>

<!-- 웹, 물품수정 -->
<update id="updateSetakItem" parameterType="kr.setak.www.domain.OrderItem">
	UPDATE orderitem
	SET name=#{name}, 
		price=#{price}
	WHERE no = #{no}
</update>

<!-- 웹, 물품삭제 -->
<insert id="deleteSetakItem" parameterType="int">
	DELETE FROM orderitem
	WHERE no = #{no}
</insert>

<!-- 웹, 하나의 물품조회 -->
<select id="selectItem" parameterType="int" resultType="kr.setak.www.domain.OrderItem">
	SELECT *
	FROM orderitem
	WHERE no = #{no}
</select>

<!-- 웹, 스탭조회 -->
<select id="selectStaffAll" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
	WHERE userGrade = 'staff'
</select>

<!-- 웹, 스탭등록 -->
<insert id="insertStaff" parameterType="kr.setak.www.domain.User">
	INSERT INTO user(userId, userHp, userGrade)
	VALUES(#{userId}, #{userHp}, 'staff')
</insert>

<!-- 웹, 스탭정보수정 -->
<update id="updateStaff" parameterType="kr.setak.www.domain.User">
	UPDATE user
	SET userId = #{userId},
		userHp = #{userHp},
	WHERE userNo = #{userNo}	
</update>

<!-- 웹, 스탭삭제 -->
<delete id="deleteStaff" parameterType="int">
	DELETE FROM user
	WHERE userNo = #{userNo}
</delete>

<!-- 웹, 하나의스탭조회 -->
<select id="selectStaff" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
	WHERE userNo = #{userNo}
</select>

<!-- 토큰 저장 -->
<update id="updateUserToken" parameterType="kr.setak.www.domain.User">
	UPDATE user
	SET token = #{token}
	WHERE userNo = #{userNo}
</update>

<!-- 푸쉬를 위한 스탭조회 -->
<select id="selectStaffNAdmin" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
	WHERE userGrade = 'staff'
	OR userGrade = 'admin'
</select>

<!-- 회원가입 -->
<insert id="insertUser" parameterType="kr.setak.www.domain.User" useGeneratedKeys="true" keyProperty="userNo">
	INSERT INTO user(userId, userHp, userGrade, regDate, orderCount, token, gender)
	VALUES(#{userId}, #{userHp}, 'user', now(), 0, #{token}, #{gender})
</insert>

<!-- 회원정보수정 -->
<update id="updateSetakState" parameterType="kr.setak.www.domain.User">
	UPDATE user
	SET userAdd = #{userAdd},
		orderCount = 1
	WHERE userNo = #{userNo}
</update>

<!-- 모든유저정보조회 -->
<select id="selectUserAll" resultType="kr.setak.www.domain.User">
	SELECT *
	FROM user
</select>
</mapper>